/* Element Selector */
p {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

/* Class Selector */
.lighter-text {
  font-weight: lighter;
}

/* ID Selector */
#green-text {
  color: green;
}

.yellow-bg {
  background-color: yellow;
}

#blue-bg {
  background-color: blue;
}

.green-bg {
  background-color: green;
}

.turq-bg {
  background-color: turquoise;
}

.my-div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

/* Grouping Selector */
h1,
h2,
h3 {
  color: blue;
}

#div1,
#div2 {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
}

.div3,
.div4 {
  width: 100px;
  height: 100px;
  border: 2px solid green;
}

.div5,
#div6 {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(162, 35, 38);
}
