/* Element Selector */
p {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

/* Class Selector */
.lighter-text {
  font-weight: lighter;
}

/* ID Selector */
#green-text {
  color: green;
}

.yellow-bg {
  background-color: yellow;
}

#blue-bg {
  background-color: blue;
}
